/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* BODY */
body {
    background-color: #f4f4f4;
}

/* HEADER */
header {
    background: #111;
    color: white;
    text-align: center;
    padding: 60px 20px;
}

/* NAV */
nav {
    background-color: #222;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* MAIN */
main {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

/* SECTION */
section {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 20px;
}

/* TARJETAS */
.card {
    background: white;
    padding: 15px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    border-radius: 8px;
}

/* ASIDE */
aside {
    background: white;
    padding: 20px;
    margin-top: 20px;
}

/* LINKS */
aside a {
    color: black;
    text-decoration: none;
}

aside a:hover {
    text-decoration: underline;
}

/* FOOTER */
footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
}
.icono {
    width: 40px;
    margin: 5px;
}